In [279]:
import chardet
import pandas as pd

# Read the first few thousand bytes to detect the encoding
with open('spam_2.csv', 'rb') as file:
    raw_data = file.read(10000)
    result = chardet.detect(raw_data)
    encoding = result['encoding']


# Read the CSV file with the detected encoding
df = pd.read_csv('spam_2.csv', encoding=encoding)

df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [280]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [281]:
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [282]:
df.sample(5)

        v1                                                 v2
135    ham             I only haf msn. It's yijue@hotmail.com
5542   ham           Armand says get your ass over to epsilon
490    ham  Sorry man my account's dry or I would, if you ...
1634  spam  Eerie Nokia tones 4u, rply TONE TITLE to 8007 ...
5524  spam  You are awarded a SiPix Digital Camera! call 0...

In [283]:
df=df.rename(columns={'v1':'result','v2':'sms'})

In [284]:
df.head()

  result                                                sms
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [285]:
df.isna().sum()

result    0
sms       0
dtype: int64

In [286]:
df.duplicated().sum()

403

In [287]:
df=df.drop_duplicates()

In [288]:
df.duplicated().sum()

0

In [289]:
df['result'].value_counts()

result
ham     4516
spam     653
Name: count, dtype: int64

In [290]:
df['result']=df['result'].map({'ham':0,'spam':1})

In [291]:
df.head()

   result                                                sms
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [292]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5169 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   result  5169 non-null   int64
 1   sms     5169 non-null   object
dtypes: int64(1), object(1)
memory usage: 121.1+ KB

In [293]:
!pip install emoji textblob nltk

Requirement already satisfied: emoji in /opt/anaconda3/lib/python3.11/site-packages (2.12.1)
Requirement already satisfied: textblob in /opt/anaconda3/lib/python3.11/site-packages (0.18.0.post0)
Requirement already satisfied: nltk in /opt/anaconda3/lib/python3.11/site-packages (3.8.1)
Requirement already satisfied: typing-extensions>=4.7.0 in /opt/anaconda3/lib/python3.11/site-packages (from emoji) (4.9.0)
Requirement already satisfied: click in /opt/anaconda3/lib/python3.11/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /opt/anaconda3/lib/python3.11/site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in /opt/anaconda3/lib/python3.11/site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.11/site-packages (from nltk) (4.65.0)

In [294]:
slangs=pd.read_csv("Abbreviations and Slang.csv")

In [295]:
slangs=pd.read_csv("Abbreviations and Slang.csv")
# Convert DataFrame to dictionary
abbreviation_dict = pd.Series(slangs.Text.values, index=slangs.Abbreviations).to_dict()

# Print the dictionary
abbreviation_dict

{'lol': 'laughing',
 'rofl': 'laughing',
 'brb': 'be right back',
 'ily': 'i love you',
 'ty': 'thank you',
 'imy': 'i miss you',
 'yolo': 'you only live once',
 'fomo': 'fear of missing out',
 'idk': 'i do not know',
 'idc': 'i do not care',
 'ffs': 'for freaks sake',
 'smh': 'shake my head',
 'ngl': 'not going to lie',
 'w': 'with',
 'abt': 'about',
 'u': 'you only live once',
 'r': 'are',
 'gtg': 'going to go',
 'nvm': 'never mind',
 'bcoz': 'because',
 'coz': 'because',
 'bcos': 'because',
 'cld': 'could',
 'ez': 'easy',
 'fbm': 'fine by me',
 'ftw': 'for the win',
 'fyi': 'for your information',
 'ik': 'i know',
 'wfh': 'work from home',
 'lmfao': 'laughing my freaking ass off',
 'lmk': 'let me know',
 'af': 'as freak',
 'aight': 'alright',
 'awol': 'away without leaving',
 'irl ': 'in real life',
 'bt': 'bad trip',
 'bb': 'baby',
 'btw': 'by the way ',
 'cu': 'see you',
 'idgaf': "i don't give a freak",
 'dgaf': "don't give a freak",
 'df': 'the freak ',
 'dis': 'this',
 'dm': 'direct message',
 'dnt': "don't ",
 'dw': "don't worry",
 'enf': 'enough',
 'eta': 'estimated time of arrival',
 'fu': 'freak you',
 'fwm': 'fine with me',
 'gg': 'good game',
 'gn': 'good night',
 'gm': 'good morning',
 'gr8': 'great',
 'grl': 'girl',
 'grw': 'get ready with me',
 'h8': 'hate',
 'hbd': 'happy birthday',
 'hbu': 'how about you',
 'hru': 'how are you',
 'hw': 'homework',
 'idts': "i don't think so",
 'ig': 'instagram',
 'ilysm': 'i love you so much',
 'imo': 'in my opinion',
 'jk': 'just kidding',
 'k': 'okay',
 'ldr': 'long distance relationship',
 'l2g': 'like to go',
 'ly': 'love you',
 'mfw': 'my face when',
 'm8': 'mate',
 'nbd': 'no big deal',
 'nsfw': 'not safe for work',
 'nm': 'nothing much',
 'np': 'no problem',
 'nw': 'no way',
 'og': 'original gangster',
 'ofc': 'ofcourse',
 'omg': 'oh my god',
 'omfg': 'oh my freaking god',
 'ootd': 'outfit of the day',
 'otb': 'off to bed',
 'otw': 'off to work',
 'pm': 'private message',
 'ppl': 'people',
 'prob': 'probably',
 'qt': 'cutie',
 'rly': 'really',
 'sh': 'same here',
 'sis': 'sister',
 'bro': 'brother',
 'sry': 'sorry',
 'sup': "what's up",
 'tbh': 'to be honest',
 'thnk': 'thank you',
 'thx': 'thanks',
 'ttly': 'totally',
 'ttyl': 'talk to you later',
 'ur': 'you are',
 'wb': 'welcome back',
 'whatevs': 'whatever',
 'wyd': 'what are you doing',
 'wdyk': 'what do you know',
 'wru': 'where are you',
 'wtf': 'what the freak',
 'wtg': 'way to go',
 'wywh': 'wish you were here',
 'XD': 'laugh',
 'xoxo': 'hugs and kisses',
 'xo': 'hugs and kisses',
 'y': 'why',
 'tryna': 'trying to be '}

In [296]:
y=df['result']

In [297]:
y

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: result, Length: 5169, dtype: int64

In [312]:

from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer
# Download necessary NLTK resources
nltk.download('punkt')
def preprocess_text(text):
    # 1. Convert all characters to lowercase
    text = text.lower()
    
    # 2. Replace emojis with text descriptions using demojize
    text = emoji.demojize(text)
    
    # 3. Remove URLs
    text = re.sub(r'http\S+|www\S+|https\S+', '', text, flags=re.MULTILINE)
    
    # 4. Remove punctuation
    text = text.translate(str.maketrans('', '', string.punctuation))
    
    # 5. Remove stopwords
    text = ' '.join([word for word in text.split() if word not in stop_words])
    
    text = ''.join(char if char.isalpha() or char.isspace() else '' for char in text)
    # Optional: Remove extra spaces
    text = ' '.join(text.split())

    words = text.split()
    new_text = []
    for word in words:
        # Check if the word is in the abbreviation dictionary
        word_lower = word.lower()
        if word_lower in abbreviation_dict:
            # Replace it with the full form
            new_text.append(abbreviation_dict[word_lower])
        else:
            # Keep the word as is
            new_text.append(word)
    text = ' '.join(new_text)


    tokens= word_tokenize(text)
    stemmer = PorterStemmer()
    stemmed_tokens= [stemmer.stem(token) for token in tokens]
    text= ' '.join(stemmed_tokens)

    return text

[nltk_data] Downloading package punkt to /Users/shivam/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [ ]:
df['processed_sms']=df['sms'].apply(preprocess_text)
df=df.drop(columns=['sms'])
df.head()

In [318]:
from sklearn.feature_extraction.text import TfidfVectorizer


# Initialize TF-IDF Vectorizer
vectorizer = TfidfVectorizer(max_features=3000)

# Fit and transform the data
X_tfidf = vectorizer.fit_transform(df['processed_sms'])

# Convert the TF-IDF matrix to a DataFrame for easier inspection
tfidf_df = pd.DataFrame(X_tfidf.toarray(), columns=vectorizer.get_feature_names_out())

X_train, X_test, y_train, y_test = train_test_split(tfidf_df, y, test_size=0.2, random_state=42)

In [319]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()

# Train the model
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = confusion_matrix(y_test, y_pred)
precision=precision_score(y_test, y_pred)

In [320]:
accuracy

0.9709864603481625

In [321]:
precision

1.0

In [322]:
import pickle
pickle.dump(vectorizer,open('vectorizer.pkl','wb'))
pickle.dump(model,open('model.pkl','wb'))